<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duty-shiftTable</title>

    <link rel="stylesheet" href="./css/shiftTable.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <script type="text/javascript">
    // 버튼 클릭 이벤트
    function clikcedBtn() {
      showLoading();
      location.href = "https://dutyapi.azurewebsites.net/nightTurn";
      setTimeout("hideLoading()", 30000);
    }
    function clickedWanted() {
      showLoading();
      //location.href = "https://dutyapi.azurewebsites.net/Wanted";
      setTimeout("hideLoading()", 1000);
    }
    function showLoading() {
      $("#loading").show();
    }
    function hideLoading() {
      $("#loading").hide();
    }
  </script>
  <div id="loading" style="display: none">
    <img src="/img/loading.gif" alt="loading" />
    <p>근무 배치중입니다</p>
  </div>
  <input type="button" value="Night근무 배치" onClick="clikcedBtn()" />
  <input type="button" value="Wanted근무 배치" onClick="clickedWanted()" />
  <br />
  <div>
    <input type="radio" name="chk_info" value="D" /> D
    <input type="radio" name="chk_info" value="E" /> E
    <input type="radio" name="chk_info" value="ca" /> 생리휴가
    <input type="radio" name="chk_info" value="mo" /> 월 차
    <input type="radio" name="chk_info" value="yo" /> 연 차
    <input type="radio" name="chk_info" value="ho" /> 공 휴 일
  </div>
  <p></p>
  <body>
    <table bordercolor="black" id="example-table-1">
      <thead>
        <tr>
          <th>부서명</th>
          <th>직위</th>
          <th>사번</th>
          <th>성명</th>
          <% for (var j = 1; j < 32; j++) { %>
          <td><%= j %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% emplist.forEach(function (emplist) { %>
        <tr>
          <td><%=emplist.teamNo %></td>
          <td><%=emplist.position %></td>
          <td><%=emplist.empNo %></td>
          <td><%=emplist.empName %></td>
          <% for (var i = 0; i < 31; i++) { %>
          <td onclick=""><%=emplist.duty[i] %></td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="col-lg-12" id="ex1_Result1"></div>
    <div class="col-lg-12" id="ex1_Result2"></div>

    <script>
      // 테이블의 1,2,3 값 가져오기
      $("td").click(function () {
        var colIndex = $(this).parent().children().index($(this)); //이거!
        var rowIndex = $(this)
          .parent()
          .parent()
          .children()
          .index($(this).parent());
        //console.log("Row: " + rowIndex + ", Column: " + colIndex);
        console.log("현재 날짜는 " + (colIndex - 3));
      });
      // 테이블의 Row 클릭시 값 가져오기
      $("#example-table-1 tr").click(function () {
        //console.log($(this).find("td:eq(1)").text());

        var str = "";
        var tdArr = new Array(); // 배열 선언

        // 현재 클릭된 Row(<tr>)
        var tr = $(this);
        var td = tr.children();

        // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
        console.log("클릭한 Row의 모든 데이터 : " + tr.text());

        // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
        td.each(function (i) {
          tdArr.push(td.eq(i).text());
        });

        console.log("배열에 담긴 값 : " + tdArr);

        // td.eq(index)를 통해 값을 가져올 수도 있다.
        var no = td.eq(0).text();
        var userid = td.eq(1).text();
        var name = td.eq(2).text();
        var email = td.eq(3).text();

        str +=
          " * 클릭된 Row의 td값 = 부서번호 : <font color='red'>" +
          no +
          "</font>" +
          ", 직급 : <font color='red'>" +
          userid +
          "</font>" +
          ", 사번 : <font color='red'>" +
          name +
          "</font>" +
          ", 이름 : <font color='red'>" +
          email +
          "</font>";

        $("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());
        $("#ex1_Result2").html(str);
      });
    </script>
  </body>
</html>
