<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duty-shiftTable</title>

  <link rel="stylesheet" href="./css/shiftTable.css" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<script type="text/javascript">
  // 버튼 클릭 이벤트
  function clikcedBtn() {
    showLoading();
    location.href = "https://dutyapi.azurewebsites.net/nightTurn";
    setTimeout("hideLoading()", 30000);
  }
  function clickedWanted() {
    showLoading();
    //location.href = "https://dutyapi.azurewebsites.net/Wanted";
    setTimeout("hideLoading()", 1000);
  }
  function showLoading() {
    $("#loading").show();
  }
  function hideLoading() {
    $("#loading").hide();
  }
</script>
<div id="loading" style="display: none">
  <img src="/img/loading.gif" alt="loading" />
  <p>근무 배치중입니다</p>
</div>
<input type="button" value="Night근무 배치" onClick="clikcedBtn()" />
<input type="button" value="Wanted근무 배치" onClick="clickedWanted()" />
<br />
<p></p>

<body>
  <select id="teamNo" name="teamNo">
    <option selected="selected">==해당 팀을 선택하세요==</option>
    <option value="1001"> >간호 1팀</option>
    <option value="1002">간호 2팀</option>
    <option value="2001">신생아중환자실</option>
    <option value="2002">신생아실</option>
  </select>
  <p></p>
  <table bordercolor="black" id="example-table-1">
    <thead>
      <tr>
        <th>팀명</th>
        <th>직위</th>
        <th>사번</th>
        <th>성명</th>
        <% for (var j=1; j < 32; j++) { %>
          <td>
            <%= j %>
          </td>
          <% } %>
      </tr>
    </thead>
    <tbody>
      <% emplist.forEach(function (emplist) { %>
        <tr>
          <td>
            <%=emplist.teamName %>
          </td>
          <td>
            <%=emplist.position %>
          </td>
          <td>
            <%=emplist.empNo %>
          </td>
          <td>
            <%=emplist.empName %>
          </td>
          <% for (var i=0; i < 31; i++) { %>
            <td onclick="">
              <%=emplist.duty[i] %>
            </td>
            <% } %>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>