<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해피너스 * 듀티관리자</title>

    <link rel="stylesheet" href="./css/superMain.css">
    <link rel="stylesheet" type="text/css"
        href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/654444f29f.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    </div>
    <nav class="main-menu">
        <div>
            <a class="logo" href="">
            </a>
        </div>
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">

            <img src="img/logo.png" width="50" height="42" , padding-bottom="20px" , padding-left="2px">

            <ul>


                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i>
                        <span class="nav-text">
                            <%= empName %>님, 안녕하세요!
                        </span>
                    </a>
                </li>

                <li>
                    <a href="/dutyMain">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">메인페이지</span>
                    </a>
                </li>


                <li>
                    <a href="teamDutyAdmin">
                        <i class="fa fa-magic"></i>
                        <span class="nav-text">신규 듀티 작성</span>
                    </a>
                </li>


                <li class="darkerlishadow">
                    <a href="/teamDutyCheck">
                        <i class="fa fa-table"></i>
                        <span class="nav-text">우리팀 듀티 확인</span>
                    </a>
                </li>

                <li class="darkerlishadow">
                    <a href="/teamDutyCheck">
                        <i class="fa fa-flag-checkered"></i>
                        <span class="nav-text">내 듀티 확인</span>
                    </a>
                </li>

                <li class="darkerlishadow">
                    <a href="/wanted">
                        <i class="fa fa-calendar-plus-o"></i>
                        <span class="nav-text">신청근무 접수</span>
                    </a>
                </li>

            </ul>

            <ul class="logout">
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i>
                        <span class="nav-text">로그아웃 </span>
                    </a>
                </li>
            </ul>
    </nav>
    <!-- <div>
        <iframe name="targetURL" class="iframe-preview center" width="100%" height="2800"
            style="border: none; margin-top: 10px;margin-left: 200px;width: 1180px;"
            src="http://localhost:3000/shiftTable">
        </iframe>
    </div> -->
    <script type="text/javascript">
        // 버튼 클릭 이벤트
        function clikcedBtn() {
            showLoading();
            //location.href = "https://dutyapi.azurewebsites.net/nightTurn";
            location.href = "http://localhost:5000/nightTurn";
            setTimeout("hideLoading()", 30000);
        }
        function clickedWanted() {
            showLoading();
            //location.href = "https://dutyapi.azurewebsites.net/Wanted";
            setTimeout("hideLoading()", 1000);
        }
        function showLoading() {
            $("#loading").show();
        }
        function hideLoading() {
            $("#loading").hide();
        }
    </script>
    <div id="totalTable" style="padding-left: 100px;">
        <div id="loading" style="display: none">
            <img src="/img/loading.gif" alt="loading" />
            <p>근무 배치중입니다 근무 배치에는 최대 30초가 걸릴 수 있습니다.</p>
        </div>
        <p></p>
        <input id=night type="button" value="Night근무 배치" onClick="clikcedBtn()" />
        <!-- <input type="button" value="Wanted근무 배치" onClick="clickedWanted()" /> -->
        <p></p>
        <table id="example-table-1">
            <thead>
                <tr>
                    <td>팀명</td>
                    <td>직위</td>
                    <td>사번</td>
                    <td>성명</td>
                    <% for (var j=1; j < 32; j++) { %>
                        <td>
                            <%= j %>
                        </td>
                        <% } %>
                </tr>
            </thead>
            <tbody>
                <% emplist.forEach(function (emplist) { %>
                    <tr>
                        <td>
                            <%=emplist.teamName %>
                        </td>
                        <td>
                            <%=emplist.position %>
                        </td>
                        <td>
                            <%=emplist.empNo %>
                        </td>
                        <td>
                            <%=emplist.empName %>
                        </td>
                        <% for (var i=0; i < 31; i++) { %>
                            <td onclick="">
                                <%=emplist.duty[i] %>
                            </td>
                            <% } %>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>